body {
  font-family: Barlow, sans-serif;
  background-color: #f7f8fa;
}

h2 {
  font-size: 30px;
  margin-top: 10px;
}

h3 {
  font-size: 20px;
  margin-bottom: 30px;
}

.container {
  max-width: 1500px;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.text-align {
  text-align: center;
}

.column-fourth {
  width: 25%;
}

.margin-lr {
  margin-left: 20px;
  margin-right: 20px;
}

.screen {
  width: 100%;
}

.icon {
  width: 90px;
  height: 90px;
}
