.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.jc-space-between {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.padding-top {
  padding-top: 50px;
}

.column-half {
  width: 50%;
}

.blue-logo-size {
  width: 50%;
}

ul li {
  display: inline-block;
  font-size: 20px;
  padding: 15px;
}

#blue-button-header {
  background-color: rgb(42 68 100);
  color: white;
  font-size: 20px;
  padding: 20px;
  border-style: unset;
  border-radius: 6px;
}

a {
  text-decoration: none;
  color: lightgrey;
}

.overlay {
  background: rgb(0 0 0 / 20%);
  width: 100%;
  height: 100%;
}

.column-full {
  width: 100%;
}

.hero-img {
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: center;
}

.hero-padding {
  padding-top: 80px;
  padding-left: 80px;
  padding-bottom: 80px;
}

.hero-header {
  color: white;
  font-size: 40px;
}

.hero-text {
  color: white;
  line-height: 1.5;
  font-size: 20px;
}

.align-left {
  align-items: left;
}

.blue-button-hero {
  background-color: rgb(42 68 100);
  color: white;
  font-size: 15px;
  padding: 20px 50px;
  border-style: unset;
  border-radius: 6px;
}

.text-center {
  text-align: center;
}

/* background-color: rgb(250 250 250); */

.clinic-box-model {
  background-color: aquamarine;
  padding-top: 50px;
  margin-top: 50px;
  padding-bottom: 50px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.middle-model {
  padding: 30px 40px;
}

.mid-button-adjust {
  padding-top: 30px;
}

.align-right {
  text-align: right;
}

.canvas-footer {
  background-color: rgb(82 83 81);
}

.canvas-text {
  color: white;
}

.column-one-fourth {
  width: 25%;
}
