.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.jc-space-between {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.padding-top {
  padding-top: 50px;
}

.column-half {
  width: 50%;
}

.blue-logo-size {
  width: 50%;
}

ul li {
  display: inline-block;
  font-size: 18px;
  padding: 14px;
}

#blue-button {
  background-color: rgb(42 68 100);
  color: white;
  font-size: 15px;
  padding: 15px;
  border-style: unset;
  border-radius: 6px;
}

a {
  text-decoration: none;
  color: lightgrey;
}

.overlay {
  background: rgb(255 255 255 / 90%);
  width: 100%;
  height: 100%;
}

.column-full {
  width: 100%;
}

.hero-img {
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: center;
}

.hero-padding {
  padding-top: 80px;
  padding-left: 80px;
  padding-bottom: 80px;
}

.hero-header {
  color: white;
  font-size: 40px;
}

.hero-text {
  color: white;
  line-height: 1.5;
  font-size: 20px;
}

.align-left {
  align-items: left;
}

.blue-button {
  background-color: rgb(42 68 100);
  color: white;
  font-size: 15px;
  padding: 15px 20px;
  border-style: unset;
  border-radius: 6px;
  margin-left: 40px;
}
